<h1>Editing salary deduction</h1>

<%= render "form", salary_deduction: @salary_deduction %>

<br>

<div>
  <%= link_to "Show this salary deduction", @salary_deduction %> |
  <%= link_to "Back to salary deductions", salary_deductions_path %>
</div>
